<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingu.match.sys.dao.RoleResourcesMapper">
<!-- <cache type="com.yingu.match.common.mybatis.RedisCache" /> -->
<resultMap id="BaseResultMap" type="com.yingu.match.sys.model.RoleResources">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resources_id" jdbcType="BIGINT" property="resourcesId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
   <insert id="insert" parameterType="com.yingu.match.sys.model.RoleResources" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_role_resources (resources_id, role_id
      )
    values (#{resourcesId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
      )
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="com.yingu.match.sys.model.RoleResources">
    delete from sys_role_resources
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.yingu.match.sys.model.RoleResources">
    update sys_role_resources
    set resources_id = #{resourcesId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, resources_id, role_id
    from sys_role_resources
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select id, resources_id, role_id
    from sys_role_resources
  </select>
 
  <select id="findTByT" resultMap="BaseResultMap" parameterType="com.yingu.match.sys.model.RoleResources" >
    select id, resources_id, role_id
    from sys_role_resources 
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByT" >
    delete from sys_role_resources
    where role_id in
    	<foreach item="roleResources" collection="array" open="(" separator="," close=")">  
			#{roleResources.roleId}  
		</foreach> 
		or  resources_id in
    	<foreach item="roleResources" collection="array" open="(" separator="," close=")">  
			#{roleResources.resourcesId}  
		</foreach>  
  </delete>
   
</mapper>